.texto-customizado {
	font-family: 'Pinyon Script', cursive;
}

.caroussel_imagem {
	width: 100% !important;
	height: auto !important;
}

.mt-n1 {
	margin-top: -10px !important;
}

.mb-p1 {
	margin-bottom: 20px !important;
}

.alinhamento {
	display: flex;
	align-items: center;
}

.footer > .container {
	background-color: #C0C6BE;
	padding: 50px;
}

.destaque {
	font-weight: bold;
	font-size: 18px;
} 

.part-2 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	box-sizing: border-box;
}
.part-2 h4 {
	margin-right: 30px;
}
.part-2 i {
	margin-right: 10px;
}

@media all  and (max-width: 767px){
	.part-2 {		
		flex-direction: column;		
	}

	.redes-titulo {
		display: none;
	}
}

@media all and (min-width: 330px) and (max-width: 766px) {
	.part-2 {		
		display: flex;
		flex-direction: column;
		align-items: flex-start;

	}
	.part-2 i{		
		margin-right: 10px;		
	}
}

@media all and (max-width: 330px) {
	.part-2 {		
		display: flex;
		flex-direction: column;
		margin-top: 10px;
	}
	.part-2 i{		
		margin-right: 5px;		
	}

}